/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  color: white;
  height: 92vh;
  background-size: cover !important;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  padding-top: 90px;
  padding-bottom: 130px;
  font-family: $home-font;
}

.site_name {
  font-family: $home-font;
  font-size: 120px;
  color: white;
  flex: 2;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}
.catchphrase {
  font-family: $home-font;
  font-size: 30px;
  letter-spacing: 2px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}

#home-button {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-medium-home {
  color: #162b80;
  border-radius: 50px;
  opacity: 1;
  width: 170px;
  background-color: #b2b2b2;
  font-weight: bolder;
  font-size: 40px;
  opacity: 0.7;
}


.wrapper {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #DB324D;
}

.card-static {
  height: 270px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
}

.card-static > i {
  font-size: 60px;
  color: #162b80;
  text-shadow: 3px 3px rgb(235, 235, 235);
}

.card-static > h3 {
  color: grey;
}

.card-static > p {
  color: grey;
}



