<div class="banner text-center" style="background: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url(<%= image_path("background.jpg")%>);">
  <div class="site_name">T-Each
  </div>
  <div class="catchphrase">Ease your Students homeworks <br>Improve your teaching
  </div>
  <div id="home-button">
    <%= link_to quizzs_path do %>
      <div class="btn-medium-home">
        GO!
      </div>
    <%end%>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="card-static shadow-z-1">
          <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          <i class="fa fa-square-o" aria-hidden="true"></i>
          <i class="fa fa-square-o" aria-hidden="true"></i>
          <h3>Create a Quizz!</h3>
          <p>Question your students and help them to focus on the key point of your daily class.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="card-static shadow-z-1">
          <i class="fa fa-users" aria-hidden="true"></i>
          <h3>Share the Quizz</h3>
          <p>Create your classrooms and invite your students to play the quizz.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="card-static shadow-z-1">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <h3>Self Evaluation</h3>
          <p>Let your students evaluate themselves based on their confidence level.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="card-static shadow-z-1">
          <i class="fa fa-search" aria-hidden="true"></i>
          <h3>Get feedback</h3>
          <p>Identify your student weaknesses and focus your teaching on them.</p>
        </div>
      </div>
    </div>
  </div>
</div>



